.navbar {
  width: 100%;
  height: 80px;
  background: #ffffff;
  box-shadow: 0px 4px 25px #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-inner {
  width: 90%;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.navbar-inner-left {
  width: 194px;
  height: 100%;
  display: grid;
  grid-template-columns: 24.7% 70.1%;
  gap: 2.1%;
}
.navbar-inner-right {
  width: 309px;
  height: 100%;
}
.navbar-inner-left-image > img {
  width: 100%;
  height: 100%;
}
.navbar-inner-left-text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  position: relative;
  bottom: 2px;
  letter-spacing: -0.04em;
  color: #000000;
}
.navbar-inner-right {
  display: grid;
  grid-template-columns: 20px 18px 17px 16px 82px 36px;
  gap: 24px;
  align-items: center;
}
.navbar-inner-right-add > img {
  height: 20px;
}
.navbar-inner-right-search > img {
  height: 18px;
}
.navbar-inner-right-saved > img {
  height: 19px;
  width: 100%;
}
.navbar-inner-right-bell > img {
  height: 19px;
  width: 100%;
}
.navbar-inner-right-upgrade {
  height: 32px;
  font-family: Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #616161;
  background: #ffffff;
  border: 1px solid #5e5e5e;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar-inner-right-image > img {
  height: 36px;
  width: 100%;
  border-radius: 50%;
}
